@use 'variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-bg;
    color: $color-text;
    font-family: $font-sans;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-logo {
    font-family: $font-sans;
    font-weight: 700;
    color: $color-text;
    line-height: 1.2;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: $color-text;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

a:hover {
    opacity: 0.7;
}