@import '../variables';

.price-atom {
    font-weight: 700;
    font-size: 1.1rem;
    color: $color-text;
    letter-spacing: 0.05em;
}

.price-currency {
    font-size: 0.8em;
    margin-left: 2px;
}