@import '../variables';

.product-title {
    margin: 0;
    font-family: $font-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.product-title a {
    color: inherit;
    text-decoration: none;
}