@import '../variables';

.quantity-selector {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.qty-btn {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 1;
}

.quantity-selector input {
    width: 40px;
    text-align: center;
    border: none;
    font-family: $font-sans;
    background: none;
    -moz-appearance: textfield;
}

.quantity-selector input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}